* {
  box-sizing: border-box;
}
.main {
  width: 500px;
  background: rgb(196, 231, 154);
  position: relative;
  padding-left: 20px;
}
  .navbar {
    display: flex;
    align-items: center;
  }
  .logo {
    height: 40px;
    width: 90px;
    background: rgb(71, 116, 19);
    margin-top: 20px;
  }
  .menu-item {
    height: 20px;
    width: 35px;
    background: rgb(107, 154, 51);
    display: inline-block;
    justify-content: space-between;
  }
  .menu-item:first-child {
    margin-left: 250px;
    margin-top: 20px;
  }
  .intro {
    height: 170px;
    width: 455px;
    background: rgb(41, 77, 0);
    margin-top: 20px;
  }
.header {
  height: 25px;
  width: 180px;
  background: rgb(41, 77, 0);
  margin-top: 20px;
}
.secondary {
  display: flex;
  margin-top: 20px;
}
.primary-item {
  height: 100px;
  width: 230px;
  background: rgb(41, 77, 0);
  margin-top: 10px;
}
.secondary-item {
  height: 100px;
  flex-grow: 1;
  background: rgb(41, 77, 0);
  margin-right: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
