* {
  box-sizing: border-box;
}
.intro {
  height: 360px;
  width: 600px;

  background: rgb(196, 231, 154);
  position: relative;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  height: 30px;
  width: 150px;


  background: rgb(41, 77, 0);
  margin-bottom: 20px;
}

.paragraph {
  height: 50px;
  width: 350px;

  background: rgb(148, 193, 96);
  margin-bottom: 50px;
}
.item {
  height: 100px;
  width: 100px;

  background: rgb(41, 77, 0);
  margin-bottom: 20px;
    display: inline-block;
    margin-left: 50px;
}
.item:first-child {
  margin-left: 10px;
}
