* {
  box-sizing: border-box;
}
.intro {
  height: 300px;
  width: 600px;

  background: rgb(196, 231, 154);
  position: relative;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  height: 40px;
  width: 250px;


  background: rgb(41, 77, 0);
  margin-bottom: 20px;
}

.paragraph {
  height: 80px;
  width: 400px;

  background: rgb(148, 193, 96);
}
