* {
  box-sizing: border-box;
}

.item {
  height: 300px;
  width: 300px;

  background: rgb(196, 231, 154);
  position: relative;
  padding-left: 30px;

}

.text {
  position: absolute;
  bottom: 50px;
}

.header {
  height: 30px;
  width: 150px;

  background: rgb(41, 77, 0);
  margin-bottom: 20px;
}

.paragraph {
  height: 50px;
  width: 200px;

  background: rgb(148, 193, 96);
}
