* {
  box-sizing: border-box;
}

.main {
  height: 550px;
  width: 500px;

    background: rgb(196, 231, 154);
    position: relative;
    padding-left: 20px
}

.navbar {

display: flex;
  align-items: center;

}
.logo {
  height: 40px;
  width: 170px;

    background: rgb(71, 116, 19);

  margin-top: 20px;
}
.menu-item {
  height: 20px;
  width: 35px;

  background: rgb(107, 154, 51);

    display: inline-block;
    margin-left: 10px;

}
.menu-item:first-child {
  margin-left: 145px;
  margin-top: 20px;
}

.intro {
  height: 250px;
  width: 450px;

  background: rgb(41, 77, 0);

  margin-top: 20px;

}

.secondary {
  display: flex;
  margin-top: 20px;
}

.secondary-item {
  height: 130px;
  flex-grow: 1;

  background: rgb(41, 77, 0);

margin-right: 15px;
}
.secondary-item:first-child {


}
